{% extends "home.html" %}

{% block content %}

<div class="container" >
    <h1>BookForm Details</h1>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                  
                    <td>Book_name</td>
                    <td>Author_name</td>
                    <td>Pages</td>
                    <td>Price</td>
                    <td>Release_date</td>
                    <td>Edit_Book_Details</td>
                    <td>Delete_Book_details</td>

                </tr>
                <tbody>
                    {% for book in Data  %}
                    <tr>
                        <td><a href="{% url 'book_list' %}"></a>{{ book.B_name }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.pages }}</td>
                        <td>{{ book.price }}</td>
                        <td>{{ book.release_date }}</td>
                        <td ><a href="{% url 'edit_book' book.id %}" class="btn btn-sm btn-info">Edit</a>{{ book.Edit_Book_Details}}</td>
                        <td><a class="btn btn-danger" href="{% url 'delete_book' book.id %}">Delete</a>{{ author.Delete_Author_Details }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </thead>         
        </table>
        <br>
        <a href="{% url 'add-book' %}" class='btn btn-primary'>Add Book</a>

</div>
{% endblock %}
